.admin-glance-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 1.5rem;
}
.admin-glance-container {
  background: lighten(#0e1013, 10%);
  color: #fff;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// Admin Actions Styling

.admin-actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.action-grid-one,
.action-grid-two {
  display: flex;
  flex-direction: column;
}

// User Panel Styles
.avatar-profile {
  @extend .post-avatar-profile;
  width: 50px;
}
.user-panel-users {
  @extend .profile-workout-main;
  padding: 1rem;
  width: 100%;
}
.user-table {
  @extend .workout-table;
  width: 100%;
}

// Obstacle Image
.obstacle-card-img {
  width: 75px;
}

// Admin Card Styles
.user-card-container,
.post-card-container,
.obstacle-card-container {
  display: flex;
  flex-direction: column;
  background: #e0e0e0;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3px;
  font-size: 1.4rem;
}
.user-card-inner,
.post-card-inner,
.obstacle-card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.user-card__avatar,
.user-card__details {
  margin-right: 0.5rem;
}

.post-card__text,
.obstacle-card__text {
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 20rem;
}
.post-card__details,
.user-card__details,
.obstacle-card__details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Admin Edit Obstacle/Form Styles
.admin-edit-obstacle-grid {
  display: grid;
  grid-template-areas: 'one two';
  grid-gap: 3rem;
}
.edit-obstacle-container {
  color: #fff;
  grid-area: two;
}
.obstacle-form-container {
  @extend .form-container;
  grid-area: one;
  width: 35rem;
}

@media (max-width: 45rem) {
  .admin-glance-grid,
  .admin-actions-grid {
    grid-template-columns: 1fr;
  }
  .admin-edit-obstacle-grid {
    grid-template-areas:
      'two'
      'one';
  }
  .obstacle-form-container {
    width: 100%;
  }
}
