.obstacle-dom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.obstacle-container {
  @extend .pricing-container;
  flex-direction: column;
  background: none;
  border: none;
  border-bottom: 3px solid #ff0a0a;
  max-width: 30rem;
  margin: 0 auto;
}
.obstacle-container-offerings {
  @extend .pricing-container-offerings;
  border-radius: 3px;
  background: lighten(#0e1013, 10%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 2rem;
  padding: 2rem;
  color: #fff;
}

.obstacle-container-img {
  @extend .pricing-container-price;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #5d685c;
  flex-grow: 1;
  width: 100%;
  position: relative;
}
.obstacle-container-description {
  @extend .pricing-container-description;
  background: lighten(#0e1013, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.hero-container {
  width: 100%;
  position: relative;
}
.obstacle-grid {
  @extend .pricing-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  margin-top: 3rem;
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ff0a0a;
  &:hover {
    opacity: 85%;
  }
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 45rem) {
  .obstacle-grid {
    grid-template-columns: 1fr;
  }
}
