.red-span {
  color: #fff;
}
.low-weight-span {
  font-weight: 300;
}
.high-weight-span {
  font-weight: 700;
}
.btn {
  background: #ff0a0a;
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid darken(#ff0a0a, 10%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $white-color;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: opacity 0s ease-in-out;
  transition: background 0.5s ease-in-out;

  &:hover:not(:disabled) {
    background: lighten(#ff0a0a, 10%);
    border-bottom: 3px solid #ff0a0a;
  }
  &:disabled {
    opacity: 55%;
    cursor: default;
  }
  &.register {
    width: 40%;
    margin-right: 1rem;
  }
  &.create-post {
    background: lighten(#0e1013, 10%);
    border-bottom: 2px solid lighten(#0e1013, 5%);
    margin-bottom: 1.5rem;
    width: 35%;
    &:hover {
      background: lighten(#0e1013, 20%);
      border-bottom: 2px solid lighten(#0e1013, 15%);
    }
  }
  &.post-like {
    margin-right: 1rem;
    background: lighten(#0e1013, 10%);
    border-bottom: 2px solid darken(#0e1013, 10%);
    &:hover {
      background: lighten(#0e1013, 20%);
      border-bottom: 2px solid lighten(#0e1013, 5%);
    }
  }
  &.post-discussion {
    background: #5d685c;
    border-bottom: 2px solid darken(#5d685c, 10%);
    margin-right: 1rem;
    &:hover {
      background: lighten(#5d685c, 10%);
      border-bottom: 2px solid #5d685c;
    }
  }
  &.post-delete {
    border-bottom: 2px solid darken(#ff0a0a, 10%);
    &:hover {
      border-bottom: 2px solid #ff0a0a;
    }
  }
  &.btn-forum {
    @extend .create-post;
    background: #ff0a0a;
    border-bottom: 3px solid darken(#ff0a0a, 10%);
  }
  &.workout-delete {
    font-size: 1.2rem;
    padding: none;
    background: none;
    border: none;
    box-shadow: none;
  }
  &.user-delete {
    background: none;
    color: #0e1013;
    border: none;
    box-shadow: none;
  }
  &.club-standings {
    background: none;
    &:hover {
      background: lighten(#0e1013, 25%);
    }
  }
}
.text-type-effect {
  width: 15.2ch;
  animation: typing 2s steps(15), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid lighten(#0e1013, 10%);
}
.text-type-effect2 {
  @extend .text-type-effect;
  width: 16.5ch;
  animation: typing 2s steps(16), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 45rem) {
  .btn {
    &.register {
      margin-right: 0;
      width: 80%;
    }
  }
}
