.red-span {
  color: #fff;
}
.low-weight-span {
  font-weight: 300;
}
.high-weight-span {
  font-weight: 700;
}
.btn {
  background: #ff0a0a;
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid darken(#ff0a0a, 10%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $white-color;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 1rem;
  &.register {
    width: 40%;
    margin-right: 1rem;
  }
  &.create-post {
    background: lighten(#0e1013, 10%);
    border-bottom: 3px solid lighten(#0e1013, 5%);
    margin-bottom: 1.5rem;
  }
  &.post-like {
    margin-right: 1rem;
    background: lighten(#0e1013, 10%);
    border-bottom: 2px solid darken(#0e1013, 10%);
  }
  &.post-discussion {
    background: #5d685c;
    border-bottom: 2px solid darken(#5d685c, 10%);
    margin-right: 1rem;
  }
  &.post-delete {
    border-bottom: 2px solid darken(#ff0a0a, 10%);
  }
  &.btn-forum {
    @extend .create-post;
    background: #ff0a0a;
    border-bottom: 3px solid darken(#ff0a0a, 10%);
  }
}
.text-type-effect {
  width: 15ch;
  animation: typing 2s steps(15), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid lighten(#0e1013, 10%);
}
.text-type-effect2 {
  @extend .text-type-effect;
  width: 16.5ch;
  animation: typing 2s steps(16.5), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 45rem) {
  .btn {
    &.register {
      margin-right: 0;
      width: 80%;
    }
  }
}
