.workout-table {
  margin: 0 auto;
  margin-top: 1rem;
}
th {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: left;
  background: lighten(#0e1013, 20%);
  padding: 0.5rem;
}

td {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5rem;
}
tr:nth-child(even) {
  background: lighten(#0e1013, 15%);
}
.profile-workouts-container {
  @extend .profile-registered-container;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  min-height: 40rem;
  justify-content: flex-start;
}

.workout-progress-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: center;
  flex-grow: 1;
}
.profile-workout-main {
  @extend .profile-bio-regevents;
  max-height: 50rem;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  width: 25rem;
  height: 2rem;
  margin-left: 1rem;
}

progress[value]::-webkit-progress-bar {
  background-color: lighten(#5d685c, 10%);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
progress[value]::-webkit-progress-value {
  background: #ff0a0a;
  border-radius: 3px;
}

progress[value]::-moz-progress-bar {
  background-color: lighten(#5d685c, 10%);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
progress[value]::-moz-progress-value {
  background: #ff0a0a;
  border-radius: 3px;
}
